.banner_ten {
  .banner_single {
    padding: 324px 137px 324px 137px;
    @include background("../img/Banner/banner.jpg", center center, no-repeat);
    @media #{$min_large} {
      margin: 0 80px;
    }
    @media #{$tab2} {
      padding: 100px 0px 100px 0px;
    }
    @media #{$lg_device} {
      padding: 150px 0px 150px 0px;
    }
    .banner__text {
      max-width: 595px;
      span {
        font-size: 13px;
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        background: #272727;
        display: inline-block;
        border-radius: 5px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        padding: 0 16px;
      }
      h3 {
        font-size: 50px;
        font-weight: 700;
        color: $primary_color;
        line-height: 1.26;
        margin: 25px 0 3px 0;
        font-family: $font1;
        @media #{$tab} {
          font-size: 35px;
        }
      }
      p {
        margin-bottom: 35px;
      }
    }
  }
}
