.primary_btn2 {
  background: $white;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font2;
  font-size: 14px;
  color: $secondary_color;
  font-weight: 700;
  padding: 14px 18px 13px 18px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  &.small_btn {
    padding: 13.5px 45px;
  }
  &:hover {
    color: $white;
    border-color: $secondary_color;
    background: $secondary_color;
  }
}
.green_round_btn {
  background: $secondary_color;
  font-size: 14px;
  font-weight: 500;
  color: $white;
  border-radius: 30px;
  padding: 7px 13px;
  display: inline-block;
  &:hover {
    color: $white;
  }
}

.primary_btn {
  @include border-radius(0px);
  display: inline-block;
  font-family: $font2;
  font-size: 14px;
  color: $primary_color;
  font-weight: 700;
  padding: 13.5px 23px;
  border: 1px solid #272727;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  @media #{$small_mobile} {
    padding: 12px 18px;
  }
  img {
    margin-left: 19px;
    position: relative;
    left: 0;
    transition: 0.3s;
  }
  &.large_btn {
    padding: 13.5px 28px;
    @media #{$small_mobile} {
      padding: 12px 18px;
    }
    &:hover {
      color: $white;
      background: $primary_color;
    }
  }
  &.small_btn {
    padding: 13.5px 25px;
  }
  &:hover {
    color: $primary_color;
    img {
      left: 2px;
    }
  }
}

.primary_btn3 {
  background: $secondary_color;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 700;
  padding: 18.5px 24px;
  border: 1px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @media #{$tab} {
    padding: 13.5px 20px;
  }
  &.small_btn {
    padding: 8.5px 14px;
    min-width: 100px;
    font-size: 14px;
  }
  &.style2 {
    padding: 14.5px 24px 12.5px 24px;
  }
  &.style3 {
    padding: 10px 15px 7px 15px;
    min-width: 100px;
  }
  &.style4 {
    padding: 10px 15px 7px 15px;
    min-width: 100px;
  }
  &.style5 {
    padding: 14.5px 24px 12.5px 24px;
    min-width: 120px;
  }
  &.style6 {
    padding: 16.5px 24px 15.5px 24px;
  }
  &.style7 {
    padding: 10px 15px 7px 15px;
    min-width: 109px;
  }
  &.style8 {
    padding: 4px 9px 3px 9px;
  }
  &.gray_bg_btn {
    background-color: #f5f8fa;
    color: $primary_color;
    padding: 11px 15px;
  }
  &.min_200 {
    min-width: 200px;
    text-align: center;
  }
  &.min_220 {
    min-width: 220px;
  }
  &.min_160 {
    min-width: 160px;
    text-align: center;
  }
  &.min_100 {
    min-width: 100px;
    text-align: center;
  }
  &.min_180 {
    min-width: 180px;
    text-align: center;
  }
  &.radius_5px {
    @include border-radius(5px);
  }
  &.radius_3px {
    @include border-radius(3px);
  }
  &:hover {
    color: $white;
    border-color: $primary_color;
    background: $primary_color;
  }
}
