.error_area {
  padding: 160px 0;
  @media #{$tab} {
    padding: 70px 0;
  }
  .error_inner {
    margin: 0 auto;
    text-align: center;
    .thumb {
      // img{
      //     max-width: 302px;
      //     @media #{$tab}{
      //         max-width: 200px;
      //     }
      // }
    }
    h3 {
      font-size: 40px;
      font-weight: 700;
      color: $primary_color;
      margin: 41px 0 7px 0;
      @media #{$tab} {
        font-size: 35px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      color: #373737;
      margin-bottom: 36px;
    }
    a {
    }
  }
}
