.home10_featureBg_1 {
  @include background("../img/features/1.png");
}
.home10_featureBg_2 {
  @include background("../img/features/2.png");
}
.home10_featureBg_3 {
  @include background("../img/features/3.png");
}
.home10_feature_area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 0 15px;
  @media #{$min_large} {
    margin: 0 80px;
  }
  @media #{$small_mobile} {
    grid-template-columns: repeat(1, 1fr);
  }
  @media #{$large_mobile} {
    grid-template-columns: repeat(2, 1fr);
  }
  .single_feature {
    padding: 93px 30px 93px 60px;
    @media #{$tab2} {
      padding: 43px 20px 47px 30px;
    }
    @media #{$lg_device} {
      padding: 43px 20px 47px 30px;
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.42;
      max-width: 240px;
      color: $primary_color;
      margin-bottom: 22px;
      @media #{$tab2} {
        font-size: 20px;
      }
    }
    a {
      font-size: 12px;
      font-weight: 700;
      color: $primary_color;
      text-transform: uppercase;
      &:hover {
        color: $secondary_color;
      }
    }
  }
}
