footer.home_ten_footer {
  background-color: #f5f5f5;
  @media #{$min_large} {
    margin: 0 80px;
  }
  .footer_border {
    border-bottom: 1px solid #e4e4e4;
  }
  .mark_text {
    color: $secondary_color;
  }
  .main_footer_wrap {
    padding-top: 118px;
    padding-bottom: 31px;
    @media #{$tab} {
      padding-top: 70px;
      padding-bottom: 10px;
    }
    .footer_widget {
      margin-bottom: 30px;
      .footer_logo {
        margin-bottom: 10px;
      }
      .footer_contact {
        display: flex;
        align-items: center;
        grid-gap: 15px;
        .thumb {
          img {
            width: 100%;
          }
        }
        .contact_num {
          h5 {
            font-size: 30px;
            font-weight: 700;
            color: $primary_color;
            margin-bottom: 0;
            font-family: $font1;
            @media #{$tab} {
              font-size: 25px;
            }
            span {
              font-size: 16px;
              font-weight: 700;
            }
          }
        }
      }
      .footer_title {
        h3 {
          font-family: $font1;
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 25px;
          text-transform: uppercase;
          color: $primary_color;
        }
      }
      .footer_links {
        li {
          a {
            font-size: 14px;
            font-weight: 500;
            color: $body_color;
            font-family: $font1;
            line-height: 2.29;
            &:hover {
              color: $secondary_color;
            }
          }
        }
      }
      .large_text {
        font-size: 14px;
        max-width: 376px;
        line-height: 1.86;
        color: $body_color;
        margin-bottom: 23px;
      }
      .address_list {
        max-width: 270px;
        p {
          font-size: 14px;
          color: $body_color;
          margin-bottom: 0;
          line-height: 1.86;
          font-weight: 500;
          margin-bottom: 15px;
          &:not(:last-child) {
            margin-bottom: 0;
          }
          span {
            font-weight: 700;
          }
        }
      }
      .large_address {
        font-size: 40px;
        font-weight: 700;
        color: $white;
        margin-bottom: 1px;
        display: flex;
        align-items: flex-start;
        line-height: 0.75;
        span {
          font-size: 20px;
          font-weight: 500;
          margin-right: 5px;
          display: inline-block;
        }
      }
      .address_text {
        font-size: 14px;
        font-weight: 400;
        font-family: $font1;
        color: $body_color;
        margin-bottom: 10px;
        span {
          font-weight: 700;
          color: $primary_color;
          display: inline-block;
          margin-right: 5px;
        }
      }

      .footer_account_lists {
        .single_accountList {
          display: flex;
          align-items: center;
          &:not(:last-child) {
            margin-bottom: 22px;
          }
          .thumb {
            width: 57px;
            flex: 57px 0 0;
            margin-right: 15px;
            img {
              width: 100%;
            }
          }
          .account_info {
            span {
              a {
                font-size: 14px;
                color: #7e7e7e;
                font-weight: 500;
                font-family: $font1;
                &:hover {
                  color: $secondary_color;
                }
              }
            }
            h4 {
              margin: 0px 0 4px 0;
              a {
                font-size: 18px;
                font-weight: bold;
                font-family: $font1;
                color: $white;
                &:hover {
                  color: $secondary_color;
                }
              }
            }
            p {
              font-size: 18px;
              font-weight: bold;
              font-family: $font1;
              color: $white;
            }
          }
        }
      }
    }
  }
  .copyright_area {
    padding: 27px 0 100px 0;
    @media #{$tab} {
      padding: 0px 0 50px 0;
    }
    .copy_right_text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-gap: 20px;
      @media #{$tab} {
        flex-wrap: wrap;
        justify-content: center;
      }
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: #687083;
        font-weight: 400;
        font-family: $font1;
        text-transform: capitalize;
        a {
          color: $secondary_color;
        }
      }
    }
    .payment_imgs {
      img {
        @media #{$small_mobile} {
          width: 100%;
        }
        @media #{$tab2} {
          width: 100%;
        }
      }
    }
  }
}
