.header_area {
  padding: 10px 65px;
  @media #{$tab} {
    padding: 10px 0px;
  }
  .main_menu {
    .menu_item {
      color: $primary_color;
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 600;
      display: inline-block;
      padding: 10px 10px 10px 10px;
      font-family: $font2;
      position: relative;
      text-transform: capitalize;
      margin: 0 5px;
      @media #{$medium_device} {
        // padding: 41px 0px 10px 0px;
        font-size: 15px;
      }
      @media #{$lg_device} {
        // padding: 41px 0px 10px 0px;
        font-size: 15px;
      }
      i {
        font-size: 9px;
        @media #{$small_mobile} {
          display: none !important;
        }
        @media #{$medium_device} {
          display: none !important;
        }
      }
      //   &::before {
      //     position: absolute;
      //     content: "";
      //     background: #ff1414;
      //     width: 100%;
      //     height: 3px;
      //     bottom: -33px;
      //     left: 0;
      //     opacity: 0;
      //     transform: scaleX(0);
      //     @include transition(0.3s);
      //   }
      //   &:hover::before {
      //     opacity: 1;
      //     transform: scaleX(1);
      //   }
      &.active {
        color: $primary_color;
        &::before {
          opacity: 1;
          transform: scaleX(1);
        }
      }
      &:hover {
        color: $secondary_color;
      }
    }
  }
}
