.amazy_login_area {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 745px auto;
  @media #{$tab} {
    display: block;
  }
  @media #{$medium_device} {
    grid-template-columns: 410px auto;
  }
  @media #{$lg_device} {
    grid-template-columns: 500px auto;
  }
  @media #{$large_xl} {
    grid-template-columns: 550px auto;
  }
  .amazy_login_area_left {
    padding: 40px 30px;
    .amazy_login_form {
      max-width: 400px;
      @media #{$medium_device} {
        max-width: 340px;
      }
      h3 {
        font-size: 32px;
        font-weight: 700;
      }
      .support_text {
        font-size: 16px;
        font-weight: 400;
        margin: 8px 0 35px 0;
      }
      .google_logIn {
        border-radius: 5px;
        border: 1px solid #f1ece8;
        background-color: #fff;
        grid-gap: 15px;
        height: 50px;
      }
      .sign_up_text {
        font-size: 14px;
        color: $primary_color;
        font-weight: 500;
        a {
          color: $secondary_color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .amazy_login_area_right {
    padding: 40px 30px;
    @include background("../img/login_bg_img.png", center center, no-repeat);
    @media #{$tab} {
      display: none !important;
    }
    .amazy_login_area_right_inner {
      .thumb {
        margin-bottom: 52px;
      }
      .login_text {
        max-width: 400px;
        margin: auto;
        h4 {
          font-size: 40px;
          font-weight: 700;
          line-height: 1.25;
          color: $white;
          margin-bottom: 15px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.75;
          color: $white;
          max-width: 300px;
        }
      }
    }
  }
}

.custom_group_field {
  border-bottom: 1px solid rgba(104, 112, 130, 0.2);
  span {
    background: transparent;
    border: 0;
    padding: 0;
    width: 20px;
    text-align: left;
    padding-bottom: 10px;
    height: 41px;
  }
  input {
    border: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: $font2;
    box-shadow: none !important;
    padding-bottom: 14px;
    padding-left: 7px;
    color: $primary_color;
    background: transparent !important;
    box-shadow: none !important;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #9d9d9d;
    }
  }
}

.login_modal {
  .close_modal {
    position: absolute;
    right: 15px;
    z-index: 10;
    top: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border-radius: 50%;
    transition: 0.3s;
    display: inline-block;
    &:hover {
      background: $secondary_color;
      color: #fff;
      transform: rotate(90deg);
    }
    i {
      line-height: 30px;
      font-size: 14px;
    }
  }
  .modal-content {
    border: 0;
  }
  .infix_login_area {
    padding: 0;
  }
  .modal-body {
    padding: 0;
  }
  .modal-dialog {
    max-width: 690px;
  }
}

.about_modal {
  .modal-dialog {
    max-width: 590px;
  }
  .infix_login_area {
    .login_area_inner {
      padding: 50px;
      max-width: 100%;
    }
  }
}
.shiping_modal {
  .modal-dialog {
    max-width: 900px;
  }
  .infix_login_area {
    .login_area_inner {
      padding: 50px;
      max-width: 100%;
    }
  }
}
.size_modal {
  .modal-dialog {
    max-width: 942px;
  }
  .infix_login_area {
    .login_area_inner {
      padding: 50px 40px;
      max-width: 100%;
    }
  }
}
.form_sep2 {
  grid-gap: 20px;
  margin: 17px 0 35px 0;
}
