.product_widget11 {
  position: relative;
  &.mb_55 {
    @media #{$tab} {
      margin-bottom: 30px;
    }
  }
  .thumb {
    background: #f5f5f5;
    overflow: hidden;
    display: block;
    img {
      width: 100%;
      transform: scale(1);
      transition: 0.3s;
    }
  }
  .product_thumb_upper {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    .add_toCart {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: $secondary_color;
      color: $white;
      transform: translateY(100%);
      transition: 0.3s;
    }
    .product_action {
      position: absolute;
      right: 20px;
      top: 20px;
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
      a {
        width: 35px;
        height: 35px;
        color: #090b17;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        position: relative;
        line-height: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transform: translateX(20px);
        &:hover {
          color: $secondary_color;
        }
        &:nth-child(1) {
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          transition-delay: 0.2s;
        }
        &:nth-child(3) {
          transition-delay: 0.3s;
        }
      }
    }
  }
  &:hover {
    .product_thumb_upper {
      .add_toCart {
        transform: translateY(0%);
      }
      .product_action {
        // transform: translateX(-50%) scale(1) translateY(0px);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .product__meta {
    h4 {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
      color: $primary_color;
      font-family: $font2;
      transition: 0.3s;
      // margin: 9px 0 15px 0;
      &:hover {
        color: $secondary_color;
      }
    }
    .stars {
      display: flex;
      align-items: center;
      margin: 10px 0 21px 0;
      i {
        color: #ffc107;
        font-size: 15px;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    .product_prise {
      position: relative;
      p {
        font-size: 14px;
        font-weight: 600;
        color: $primary_color;
        transition: 0.3s;
        text-transform: capitalize;
      }
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    .product_action {
      a {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
    }
  }
  // product_listStyle
  &.product_listStyle {
    grid-gap: 30px;
    @media #{$tab} {
      flex-direction: column;
    }
    @media #{$lg_device} {
      flex-direction: column;
    }
    .product_thumb_upper {
      width: 330px;
      flex: 330px 0 0;
      margin-bottom: 0;
      @media #{$medium_device} {
        width: 230px;
        flex: 230px 0 0;
      }
      @media #{$tab} {
        width: 100%;
        flex: 100% 0 0;
        margin-bottom: 0;
      }
      @media #{$lg_device} {
        width: 100%;
        flex: 100% 0 0;
        margin-bottom: 0;
      }
    }
    .product__meta {
      .product__meta_inner {
        display: flex;
        grid-gap: 20px;
        margin-bottom: 42px;
        @media #{$tab} {
          flex-direction: column;
          margin-bottom: 30px;
        }
        @media #{$medium_device} {
          flex-direction: column;
          margin-bottom: 30px;
        }
        @media #{$large_xl} {
          margin-bottom: 15px;
        }
        .pro_meta_left {
          max-width: 420px;
          p {
            font-size: 14px;
            line-height: 1.86;
          }
        }
        .pro_meta_right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          @media #{$tab} {
            align-items: flex-start;
          }
          @media #{$medium_device} {
            align-items: flex-start;
          }
          h5 {
            font-size: 20px;
            font-weight: 700;
            color: $primary_color;
            margin-bottom: 14px;
          }
          .product_action {
            display: flex;
            grid-gap: 10px;
            a {
              width: 35px;
              height: 35px;
              color: #090b17;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 15px;
              position: relative;
              line-height: 35px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              background: $white;
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
              border-radius: 50%;
              &:hover {
                color: $secondary_color;
              }
            }
          }
        }
      }
    }
  }
}
