@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: $font2;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font1;
    color: $primary_color;
  }
  p {
    font-family: $font2;
    color: $body_color;
    font-size: 16px;
    line-height: 1.63;
  }
}
.img {
  max-width: 100%;
  @include transition(0.3s);
}
a {
  text-decoration: none;
}
a,
.button,
button {
  @include transition(0.3s);
}
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  // color: #000;
}
input:focus,
button:focus {
  outline: none;
}
a,
button {
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $font1;
  color: $primary_color;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h4 {
  font-size: 20px;
  line-height: 25px;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $text1;
  margin-bottom: 0;
  font-family: $font1;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

.mb-85 {
  margin-bottom: 85px;
  @media #{$small_mobile} {
    margin-bottom: 30px;
  }
  @media #{$medium_device} {
    margin-bottom: 30px;
  }
  @media #{$lg_device} {
    margin-bottom: 40px;
  }
}
.mb-65 {
  margin-bottom: 65px;
  @media #{$small_mobile} {
    margin-bottom: 20px;
  }
}
.mt-80 {
  margin-top: 80px;
}
.mb_6 {
  margin-bottom: 6px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_18 {
  margin-bottom: 18px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_23 {
  margin-bottom: 23px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_32 {
  margin-bottom: 32px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_42 {
  margin-bottom: 42px;
}
.mb_45 {
  margin-bottom: 45px;
}
.mb_37 {
  margin-bottom: 37px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_52 {
  margin-bottom: 52px;
}
.mb_53 {
  margin-bottom: 53px;
}
.mb_55 {
  margin-bottom: 55px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_65 {
  margin-bottom: 65px;
}
.mb_70 {
  margin-bottom: 70px;
}
.mb_76 {
  margin-bottom: 76px;
}
.mb_80 {
  margin-bottom: 80px;
}

.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_60 {
  margin-top: 60px;
}
.mt_70 {
  margin-top: 70px;
}

.mb_27 {
  margin-bottom: 27px;
}

.mr_5 {
  margin-right: 5px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 20px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_40 {
  margin-right: 40px;
}
.mr_50 {
  margin-right: 50px;
}
.mr_10 {
  margin-right: 10px;
}
.pt_70 {
  padding-top: 70px;
  @media #{$tab} {
    padding-top: 30px;
  }
}
.section_spacing {
  padding: 120px 0 120px 0;
}

@media (max-width: 767.98px) {
  .section_spacing {
    padding: 70px 0 40px 0;
  }
}
.xl_mb_60 {
  @media #{$xl_device} {
    margin-bottom: 60px;
  }
  margin-bottom: 30px;
}

.container {
  @media #{'(min-width: 1200px) '} {
    max-width: 1440px;
  }
}

.error_text {
  color: $secondary_color;
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
}

.max_400px {
  max-width: 400px;
}

.loader_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 120;
}
